@model CustomerOrdersVM
<h1>
    Customer Orders
</h1>

<form asp-action="SearchCustomerOrders">
    <div class="form-group">
        <label>Customer</label>
        <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.Customers"></select>
    </div>

    <div class="form-group">
        <label>Sort By</label>
        <select asp-for="SortBy" class="form-control" asp-items="ViewBag.SortOptions"></select>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
</form>
@if (Model.Orders != null && Model.Orders.Any())
{
    @foreach (var item in Model.Orders)
    {
        <div>
            <label>
                Order Date: @item.OrderDateTime
            </label>
            <label>
                Location : @item.LocationName, @item.State
            </label>
            <label>
                Total : @item.Total.ToString("c2")
                @* currency with 2 digits *@
            </label>

            @foreach (var drinkOrder in item.DrinkOrders)
            {
                <div>
                    <label>
                        Drink Name: @drinkOrder.DrinkName
                    </label>
                    <label>
                        ABV : @drinkOrder.ABV %
                    </label>
                    <label>
                        Quantity : x @drinkOrder.Quantity
                    </label>
                    <label>
                        Price :  @drinkOrder.Price.ToString("c2")
                    </label>
                </div>

            }
            <br />
            <br />
        </div>
    }
}

