@model OrderIndexVM
<h1>Place an order</h1>
@if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
{
    foreach (var errorMessage in Model.ErrorMessages)
    {
        <div>
            <label class="text-danger">
                @errorMessage
            </label>
        </div>
    }

}
<form asp-action="PlaceOrder">
    <div class="form-group">
        <label>Customer</label>
        <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.Customers"></select>
    </div>

    <div class="form-group">
        <label>Location</label>
        <select asp-for="LocationID" class="form-control" asp-items="ViewBag.Locations"></select>
    </div>
    @*foreach (var item in Model.DrinkOrders)*@
    @for (int i = 0; i < Model.DrinkOrders.Count; i++)

    {
        <div class=" form-group">
            <div>
                <label>
                    Drink Name: @Model.DrinkOrders[i].DrinkName
                    <input type="hidden" asp-for="@Model.DrinkOrders[i].DrinkId" />
                    <input type="hidden" asp-for="@Model.DrinkOrders[i].DrinkName" />
                </label>
            </div>


            <div>
                <label>
                    ABV: @Model.DrinkOrders[i].ABV
                    <input type="hidden" asp-for="@Model.DrinkOrders[i].ABV" />
                </label>
            </div>

            <div>
                <label>
                    Price: @Model.DrinkOrders[i].Price
                    <input type="hidden" asp-for="@Model.DrinkOrders[i].Price" />
                </label>
            </div>


            <div>
                <label>
                    Quantity:
                </label>

                <input asp-for="@Model.DrinkOrders[i].Quantity" />
            </div>

        </div>
    }
    <div>
        <input type="submit" class="btn btn-primary" />
    </div>
</form>